.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.modal-background:hover {
  cursor: zoom-out;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 4px;
  padding: 0px 44px 38px;
  z-index: 21;
}

.modal-child:hover {
  cursor: default;
}

.modal-poster {
  width: 50%;
  /* padding-right: 2em; */
}

.modal-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 20px 0px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.close-x:after {
  position: relative;
  left: 28px;
  display: inline-block;
  content: "\00d7";
  font-size: 28px;
  color: #141E35;
  border: solid 1px #141E35;
  padding: 4px 10px;
}

.close-x:hover {
  cursor: pointer;
  color: lightblue;
}

.modal-items {
  display: flex;
  flex-direction: row;
}

.modal-info {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 50%;
  padding-left: 32px;
}

.modal-info > p {
  margin: 12px 0px;
}
